{
  "irc": {
    "host": "irc.freenode.net",
    "user": "testbot",
    "opts": {
      "channels": [
        "#test-channel"
      ],
      "password": "testpassword"
    }
  },
  "common": {
    "admin": "testuser"
  },
  "plugins": {
    "note": {
      "config": {
        "offline": true,
        "contacts": {
          "testuser": "testuser@test.local"
        },
        "from": "sectery@test.local",
        "smtpPool": {
          "host": "test.local",
          "port": 25,
          "name": "test.local",
          "ignoreTLS": true,
          "maxConnections": 5,
          "maxMessages": 100,
          "secure": false
        },
        "admin": "testuser"
      }
    },
    "scala": {
      "config": {
        "headers": {
          "cookie": [
            "JSESSIONID=LJiZBSxqovNn2immspSSFw;Path=/"
          ]
        },
        "admin": "testuser"
      }
    },
    "sms": {
      "config": {
        "offline": true,
        "uri": "http://textbelt.com/text",
        "contacts": {
          "testuser": "2125554202"
        },
        "admin": "testuser"
      }
    },
    "tell": {
      "config": {
        "messages": {},
        "admin": "testuser"
      }
    },
    "yesman": {
      "config": {
        "agreement": "I'll say"
      }
    },
    "weatherunderground": {
      "config": {
        "autocomplete-uri": "http://autocomplete.wunderground.com/aq?query=",
        "api-uri": "http://api.wunderground.com/api/",
        "apikey":"API_KEY",
        "admin": "testuser"
      }
    }
  }
}
