{
  "admin": "testuser",
  "irc": {
    "host": "irc.freenode.net",
    "user": "testbot",
    "opts": {
      "channels": [
        "#test-channel"
      ],
      "password": "testpassword"
    }
  },
  "plugins": {
    "admin": {
      "config": {
        "admin": "testuser"
      }
    },
    "error": {
      "config": {
        "admin": "testuser"
      }
    },
    "note": {
      "config": {
        "offline": true,
        "contacts": {
          "testuser": "testuser@test.local"
        },
        "from": "sectery@test.local",
        "smtpPool": {
          "host": "test.local",
          "port": 25,
          "name": "test.local",
          "ignoreTLS": true,
          "maxConnections": 5,
          "maxMessages": 100,
          "secure": false
        }
      }
    },
    "scala": {
      "config": {
        "headers": {
          "cookie": [
            "JSESSIONID=71WStezX6_4sNu06cuFkng;Path=/"
          ]
        }
      }
    },
    "sms": {
      "config": {
        "offline": true,
        "uri": "http://textbelt.com/text",
        "contacts": {
          "testuser": "2125554202"
        }
      }
    },
    "tell": {
      "config": {
        "messages": {}
      }
    }
  }
}