<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <variable name="LOG_LEVEL_ROOT" value="${LOG_LEVEL_ROOT:-WARN}" />
  <root level="${LOG_LEVEL_ROOT}">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="sectery" level="INFO" />
</configuration>
