name: deploy

on: workflow_dispatch

jobs:
  deploy:
    environment: deploy
    runs-on: ubuntu-24.04
    steps:

    - uses: actions/checkout@v4

    - uses: cachix/install-nix-action@v30
      with:
        nix_path: nixpkgs=channel:nixos-24.11

    - uses: webfactory/ssh-agent@v0.9.0
      with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - run: echo "$HOST_NAME.$DOMAIN $HOST_KEY" >> ~/.ssh/known_hosts
      env:
        HOST_NAME: ${{ secrets.HOST_NAME }}
        DOMAIN: ${{ secrets.DOMAIN }}
        HOST_KEY: ${{ secrets.HOST_KEY }}

    - run: nix-shell -p nixos-rebuild --run ./infra/deploy.sh
      env:
        HOST_NAME: ${{ secrets.HOST_NAME }}
        DOMAIN: ${{ secrets.DOMAIN }}
        AIRNOW_API_KEY: ${{ secrets.AIRNOW_API_KEY }}
        DATABASE_DRIVER: ${{ secrets.DATABASE_DRIVER }}
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
        FINNHUB_API_TOKEN: ${{ secrets.FINNHUB_API_TOKEN }}
        IRC_CHANNELS: ${{ secrets.IRC_CHANNELS }}
        IRC_HOST: ${{ secrets.IRC_HOST }}
        IRC_PASS: ${{ secrets.IRC_PASS }}
        IRC_PORT: ${{ secrets.IRC_PORT }}
        IRC_USER: ${{ secrets.IRC_USER }}
        OPENAI_APIKEY: ${{ secrets.OPENAI_APIKEY }}
        OPEN_WEATHER_MAP_API_KEY: ${{ secrets.OPEN_WEATHER_MAP_API_KEY }}
        RABBIT_MQ_HOSTNAME: ${{ secrets.RABBIT_MQ_HOSTNAME }}
        RABBIT_MQ_PASSWORD: ${{ secrets.RABBIT_MQ_PASSWORD }}
        RABBIT_MQ_PORT: ${{ secrets.RABBIT_MQ_PORT }}
        RABBIT_MQ_USERNAME: ${{ secrets.RABBIT_MQ_USERNAME }}
        SLACK_APP_TOKEN: ${{ secrets.SLACK_APP_TOKEN }}
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
